

.root{
    background-color:#025FEB;
    height: 60px;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.icon{
    width: 25px;
  
    height: 25px;
}
.logo{
    width: 110px;
    height: 50px;
}
.leftText{
    margin-left: 10px;
    padding-right: 40px;
    font-size: 16px;
}
.rightText{
    margin-left: 10px;
    font-size: 16px;
}
.rightCol{
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
}
.textColor{
    color: #FFFFFF;
    
}
.textColor:hover{
    color: #FFFFFF;
}