body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family:sans-serif !important
}
thead {
  background-color: #E4EDF2 !important;
  height: 40px !important;
}
table{
  border-color: #E4EDF2 !important;
  color:#4B5C68 !important
}
